@model List<string>
@{
    ViewBag.Title = "CSV Files";
}


<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-8">
        <section id="csvForm">
            @Html.AntiForgeryToken()
            <h4>Click on a file name to edit.</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
            *@
            @foreach (var csvName in Model)
            {
                <p>
                    @Html.ActionLink(csvName, "Edit", new { csvName = csvName })
                </p>
            }

            @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@

        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}