
@{
    ViewBag.Title = "Home";
}
<h3>@ViewBag.Message</h3>

<p class="text-success">@ViewBag.StatusMessage</p>

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">Use Data-Yachtz to uppload CSV files to cloud. Save, edit, and export in multiple file formats of your need.</p>
    <p class="lead">@Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-primary btn-large" })</p>
    <p class="lead">@Html.ActionLink("Log in here", "Login", "Account", null, new { @class = "btn btn-primary btn-large" })</p>
</div>
<p>@Html.ActionLink("Demo CSV", "Edit", "Home")</p>
