@model DataYachtz_PLC.Models.CsvModel
@{
    ViewBag.Title = "Home Page";
}
@*
    @Ajax.ActionLink("Open popup", "SomeAction", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "result", InsertionMode = InsertionMode.Replace, OnSuccess = "openPopup" })<br />

    <div id="result" style="display:none;">
        <button class="col-md-1" id="bDuplicate" type="button">Duplicate</button>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#result").dialog({
                autoOpen: false,
                title: 'Title',
                width: 500,
                height: 'auto',
                modal: true
            });
        });
        function openPopup() {
            //$("#result").dialog("open");

        }
    </script>
*@

<div>
    <br />
    <center><h3>Database Data</h3></center>


    <button class="stylesheet" id="RemoveRow" type="button">Remove</button>

    <button class="stylesheet" id="DuplicateRow" type="button">Duplicate</button>

    <button class="stylesheet" id="AddRow" type="button">Add</button>

    <table id="tblItems" class="display" cellspacing="0">
        <thead>
            <tr>
                @for (int i = 0; i < Model.GetSize(); i++)
                {
                    <th>
                        @Html.DisplayName(Model.ColumnNames[i])
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var cell in Model.Data)
            {
                <tr>
                    @for (int i = 0; i < Model.GetSize(); i++)
                    {
                        <td>
                            @Html.DisplayName(cell.GetCellInfo(Model.ColumnNames[i]))
                        </td>
                    }
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                @for (int i = 0; i < Model.GetSize(); i++)
                {
                    <th>
                        @Html.DisplayName("Search " + Model.ColumnNames[i])
                    </th>
                }
            </tr>
        </tfoot>
    </table>

    <style type="text/css">
        .addRow {
            <input type="text" class="stylesheet" name="PartNumber" value=" "/> <input type="text" class="stylesheet" name="Specification"/> <input type="text" class="stylesheet" name="Description"/> <input type="text" class="stylesheet" name="CreatedDate"/>
        }
    </style>


    @* jQuery DataTables css *@

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.5/css/select.dataTables.min.css   />
    <link rel="stylesheet" type="text/css" href="../../extensions/Editor/css/editor.dataTables.min.css" />

    @* jQuery *@

    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval")

        <script src="~/Scripts/jquery-1.12.4.js"></script>
        <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
        <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
        <script src="//cdn.datatables.net/1.10.9/js/dataTables.select.min.js"></script>
        <script src="~/Scripts/DataTables/dataTables.jqueryui.js"></script>
        <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
        <script src="~/Scripts/jquery.dataTables.columnFilter.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-1.12.4.js"></script>
        @*< <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.2.5/js/dataTables.select.min.js"></script>
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>*@



        <script type="text/javascript" src="https://cdn.datatables.net/r/dt/jq-2.1.4,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.9,af-2.0.0,b-1.0.3,b-colvis-1.0.3,b-html5-1.0.3,b-print-1.0.3,se-1.0.1/datatables.min.js"></script>

        <script type="text/javascript">

            $(document).ready(function () {

                $('#tblItems tfoot th').each(function () {
                    var title = $(this).text();
                    $(this).html('<input type="text" id="' + '" placeholder="' + title.trim() + '" />');
                });


                var table = $('#tblItems').DataTable({
                    "pagingType": "full_numbers",
                    "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    "processing": true,
                   
                    "dom": 'Bfrtip',
                     buttons: [ 
                        {
                            extend: 'collection',
                            text: 'Export',
                            buttons:
                            [
                                 {
                                     extend: 'copy',
                                     exportOptions: {
                                         columns: ':visible'
                                     }
                                 },

                                 {
                                     extend: 'csv',
                                     exportOptions: {
                                         columns: ':visible'
                                     }
                                 },
                                 {
                                     extend: 'pdf',
                                     exportOptions: {
                                         columns: ':visible'
                                     }
                                 },
                                 {
                                     extend: 'excel',
                                     exportOptions: {
                                         columns: ':visible'
                                     }
                                 },
                                 {
                                     extend: 'print',
                                     exportOptions: {
                                         columns: ':visible'
                                     }
                                 }
                            ]
                         },

                        'colvis'
                    ],

                    columnDefs: [{
                       // targets: -1,
                        visible: false
                    }],

                     "dom": 'lBfrtip'
                   
                });
              

             

                /*
               editor = new $.fn.DataTable.Editor({
                   ajax: "../php/staff.php",
                   table: "#tblItems",
                   fields: [{
                       label: "PartNumber:",
                       name: "PartNumber"
                   }, {
                       label: "Specification:",
                       name: "Specification"
                   }, {
                       label: "Description:",
                       name: "Description"
                   }, {
                       label: "CreatedDate:",
                       name: "CreatedDate"
                   }
                   ]
               });

               $('#tblItems').on('click', 'tbody td:not(:first-child)', function (e) {
                   editor.inline(this, {
                       submit: 'allIfChanged'
                   });
               });


              $('#tblItems').DataTable({
                  dom: "Bfrtip",
                  ajax: "../php/staff.php",
                  columns: [
                      {
                          data: null,
                          defaultContent: '',
                          className: 'select-checkbox',
                          orderable: false
                      },
                      { data: "first_name" },
                      { data: "last_name" },
                      { data: "position" },
                      { data: "office" },
                      { data: "start_date" },
                      { data: "salary", render: $.fn.dataTable.render.number(',', '.', 0, '$') }
                  ],
                  order: [1, 'asc'],
                  select: {
                      style: 'os',
                      selector: 'td:first-child'
                  },
                  buttons: [
                      { extend: "create", editor: editor },
                      { extend: "edit", editor: editor },
                      { extend: "remove", editor: editor }
                  ]
              });
           */


                // search each column
                table.columns().every(function () {

                    var that = this;
                    $('input', this.footer()).on('keyup change', function () {
                        if (that.search() !== this) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });

                });



                // enables selection of rows
                $('#tblItems tbody').on('click', 'tr', function () {
                    if ($(this).hasClass('selected')) {
                        $(this).removeClass('selected');
                    }
                    else {
                        table.$('tr.selected').removeClass('selected');
                        $(this).addClass('selected');
                    }
                });


                // remove row
                $('#RemoveRow').click(function () {
                    table.row('.selected').remove().draw(false);
                });

                // clone row
                $('#DuplicateRow').click(function () {
                    var addRow = table.row('.selected').data();
                    table.$('tr.selected').removeClass('selected');
                    table.row.add(addRow).draw();
                });

                // add row
                $('#AddRow').on('click', function () {

                    table.row.add([
                        'col1',
                        'col2',
                        'col3',
                        'col4'
                    ]).draw();

                });



            });

        </script>
    }
</div>
